body{
    background-color: #172033;
    color: #F7F3E3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
}

div {
    text-align: center;
}

button {
    background-color: #0081AF;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: #F7F3E3;
}
button:hover{
    background-color: #81bfd5;
    color: #0081AF;
}

button:active{
    background-color: #557f8f;
    color: #0081AF;
}

.PostDivider {
    background-color: #f7f3e3;
    border: none;
    height: 2px;
    opacity: 0.2;
}

.HeaderContainer{
    background-color: #0f1522;
    margin-top: 0px;
    margin-top: -22px;
    height: 10vh;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    font-family: cursive;
    position:fixed;
    top: 0;
    width: 100%;
}

.PostBoxContainer {
    margin: auto;
    background: #2b3344be;
    border-radius: 5px;
    width: 80%;
    margin: 5px auto 20px auto;
    padding: 10px 20px 20px 20px;
    text-align: left;
}

.ReplyBoxContainer {
    background: #66759963;
    border-radius: 5px;
    width: 80%;
    margin: 5px auto 20px auto;
    padding: 10px 20px 20px 20px;
    text-align: left;
}

@media all and (max-width: 1065px){
    .PostSection{
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media all and (min-width: 1065px){
    .PostSection{
        display: flex;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.ReplySection {
    width: 80%;
    margin: auto ;
}

@media all and (max-width: 413px) {
    .PageTitle {
        font-size: 50px;
        margin-top: 30vh;
    }
}

@media all and (min-width: 413px){
    .PageTitle{
        font-size: 70px;
        margin-top: 20vh;
    }
}


.PostTitle {
    background-color: #495266;
    border: solid;
    border-color: #0f1522;
    color: #F7F3E3;
    margin-bottom: 5px;
    border-radius: 5px;
    border-width: 7px;
    max-width: 100%;
    min-width:100%;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
}

.PostInput {
    background-color: #495266;
    color: #F7F3E3;
    border-color: #0f1522;
    border-radius: 5px;
    border-width: 7px;
    min-height: 20vh;
    max-height: 50vh;
    max-width: 100%;
    min-width: 100%;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

@media all and (max-width: 1065px){
    .PostBtn{
        padding: 20px 40px;
        margin-top: 10px;
        background-color: #B10F2E;
        color: #F7F3E3;
        justify-content: right;
        font-weight: bold;
        font-size: 25px;
    }
}

.PostBtn{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #B10F2E;
    color: #F7F3E3;
    justify-content: right;
    font-weight: bold;
}

.PostBtn:hover{
    background-color:  #e19999;
    color: #be0000;
}

.PostBtn:active{
    background-color:  #956666;
    color: #be0000;
}

@media all and (max-width: 413px) {
    .PostContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        max-width: 85vw;
        min-width: 40%;
        margin-bottom: 25vh;
    }
}


@media all and (min-width: 413px) {
    .PostContainer{
        margin: auto;
        max-width: 60%;
        margin-bottom: 25vh;
    }
}

.Hyperlink{
    color: #FA824C;
}

@media all and (max-width:1285px) and (min-width:1065px){
    .ReplyHyperlink{
        color: #FA824C;
        justify-content: center;
        margin: 7px auto auto 0px;
        padding: 40px;
    }
}

@media all and (max-width: 1065px){
    .ReplyHyperlink{
        color: #FA824C;
        justify-content: center;
        margin: 7px 20px auto 0px;
        font-size: 20px;
    }
}

@media all and (min-width:1285px){
    .ReplyHyperlink{
        color: #FA824C;
        justify-content: left;
        margin-top: 7px;
        margin-right: 27%;
    }
}

.PostQuestion {
    margin-bottom: 30px;
}

.ViewPost{
    max-width: 90%;
    margin: auto;
    padding-top: 15vh;
}

.FillerDiv{
    width: 100%;
    height: 10px;
}

.Flex{
    display: flex;
}

@media all and (max-width: 1285px){
    .Replies{
        display:inline-block;
    }
}

@media all and (max-width: 1065px){
    .Replies{
        display: block;
    }
}