body{
    background-color: #172033;
    color: #F7F3E3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 50px;
}

div {
    text-align: center;
}

button {
    background-color: #495266;
    border: none;
    border-radius: 5px;
}

.PostDivider {
    background-color: #f7f3e3;
    border: none; /* Removes any default border */
    height: 2px; /* Adjust thickness */
    opacity: 0.2; /* Adjust transparency */
}

.HeaderContainer{
    background-color: #0f1522;
    margin-top: 0px;
    margin-top: -22px;
    height: 10vh;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    font-family: cursive;
    position:fixed;
    top: 0;
    width: 100%;
}

.PostBoxContainer {
    margin: auto;
    background: #2b3344be;
    border-radius: 5px;
    width: 1fr;
    margin: 5px;
    padding: 0px 20px 20px 20px;
    text-align: left;
    margin-top: 25vh;
    margin-bottom: 50px;
}

.PostSection{
    display: flex;
    margin: auto;
    width: 95%;
}

@media all and (max-width: 412px) {
    .PageTitle {
        font-size: 50px;
        margin-top: 10vh;
    }
}

@media all and (min-width: 413px){
    .PageTitle{
        font-size: 70px;
        margin-top: 20vh;
    }
}


.PostTitle {
    background-color: #495266;
    border: solid;
    border-color: #0f1522;
    color: #F7F3E3;
    margin-bottom: 5px;
    border-radius: 5px;
    border-width: 7px;
    max-width: 100%;
    min-width:100%;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.PostInput {
    background-color: #495266;
    color: #F7F3E3;
    border-color: #0f1522;
    border-radius: 5px;
    border-width: 7px;
    min-height: 20vh;
    max-height: 50vh;
    max-width: 100%;
    min-width:100%;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
}

.PostBtn{
    padding: 10px 20px;
    background-color: #B10F2E;
    color: #F7F3E3;
    float: right;
    font-weight: bold;
}

.PostBtn:hover{
    background-color:  #e19999;
    color: #be0000;
}

.PostBtn:active{
    background-color:  #956666;
    color: #be0000;
}

.LoadBtn{
    padding: 10px 20px;
    background-color: #0081AF;
    color: #F7F3E3;
    font-weight: bold;
}

.LoadBtn:hover{
    background-color:  #6a8c98;
    color: #0081AF;
}

.LoadBtn:active{
    background-color:  #6a8c98;
    color: #0081AF;
}

@media all and (max-width: 412px) {
    .PostContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        max-width: 85vw;
        min-width: 40%;
    }
}


@media all and (min-width: 413px) {
    .PostContainer{
        margin: auto;
        max-width: 60%;
        min-width: 40%;
    }
}

.Hyperlink{
    color: #FA824C;
}

.ReplyHyperlink{
    color: #FA824C;
    float: left;
    margin-top: 7px;
}

.PostQuestion {
    margin-bottom: 30px;
}